<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.CommonDao">
	

	<parameterMap id="Common" type="org.spring.springboot.domain.Common"/>

	<sql id="Base_Column_List">
		id,code,name,type,state,create_time
	</sql>

	<insert id="saveCommon" parameterMap="Common" useGeneratedKeys="true" keyProperty="id">
		insert into
			sys_common(id,code,name,type,state,create_time)
		values
			(#{id},#{code},#{name},#{type},'A',now())
	</insert>
	
	<select id="findCommonList" resultType="org.spring.springboot.domain.Common" >
		SELECT
			id,code,name,type,state,create_time
		FROM
			sys_common
		WHERE state ='A'
		<if test="name!=null and name !=''">
			and name = #{name}
		</if>
		<if test="type!=null and type !=''">
			and type = #{type}
		</if>	
		order by create_time desc
	</select>
	
</mapper>
