<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.TeacherDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.Teacher">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="phone" property="phone" />
		<result column="subject" property="subject" />
		<result column="school" property="school" />
		<result column="salary" property="salary" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<parameterMap id="Teacher" type="org.spring.springboot.domain.Teacher"/>

	<sql id="Base_Column_List">
		id, name, sex, phone, subject, school,photo,salary,create_time
	</sql>

	<insert id="saveTeacher" parameterMap="Teacher" useGeneratedKeys="true" keyProperty="id">
		insert into
			teacher(id,name,sex,phone,subject,school,photo,salary,create_time)
		values
			(#{id},#{name},#{sex},#{phone},#{subject},#{school},#{photo},#{salary},#{createTime})
	</insert>
	
	<select id="findAllTeacher" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from teacher
	</select>

	 
</mapper>
